<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Swrve Minimal Integration Teamplate</name>
    <description>
        Swrve Cordova Minimal Integration Template
    </description>
    <author email="support@swrve.com" href="http://cordova.io"> Swrve Inc </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    
        <!-- Begin Android Swrve SDK preferences -->
        <preference name="swrve.appId" value="-1" />
        <preference name="swrve.apiKey" value="YourSwrveKey" />
        <preference name="swrve.pushEnabled" value="true" />
        <preference name="swrve.drawablePath" value="swrve-support-files/android/drawable/" />
        <preference name="swrve.googleServicesPath" value="swrve-support-files/android/google-services.json" />

        <!-- To use the EU stack, include this in your config. -->
        <!-- <preference name="swrve.stack" value="EU" /> -->

        <!-- If you want to set a custom googleServicesVersion you can to it be uncometing the preference bellow -->
        <!-- <preference name="swrve.googleServicesVersion" value ="4.2.0"/> -->

        <!-- Ad Journey preferences -->
        <preference name="swrve.adJourneyEnabled" value="true" />
        <!-- End Android Swrve SDK preferences -->
    
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="local"/>
        
        <!-- Begin iOS Swrve SDK preferences -->
        <preference name="swrve.appId" value="-1" />
        <preference name="swrve.apiKey" value="YourSwrveKey" />
        
        <!-- To use the EU stack, include this in your config. -->
        <!-- <preference name="swrve.stack" value="EU" /> -->
        
        <!-- Push preferences -->
        <preference name="swrve.pushEnabled" value="true" />
        <preference name="swrve.appGroupIdentifier" value="group.com.example.hello" />
        <preference name="swrve.clearPushBadgeOnStartup" value ="true" />
        <edit-config target="UIBackgroundModes" file="*-Info.plist" mode="merge">
            <array>
		        <string>remote-notification</string>
	        </array>
        </edit-config>
        
        <!-- Ad Journey preferences -->
        <!-- <preference name="swrve.adJourneyEnabled" value="true" /> -->
        <!-- <preference name="swrve.adJourneyProcessOtherLinksEnabled" value="true" /> -->

        <!-- End iOS Swrve SDK preferences -->
    </platform>
    <plugin name="cordova-plugin-swrve" spec="local_path_to_swrve_sdk" />
</widget>